{
  "importOrder": [
    "<TYPES>",
    "",
    "<BUILTIN_MODULES>",
    "",
    "^react(-dom.*)?$",
    "",
    "^(astro|@astrojs)(/.*)?$",
    "",
    "^convex(/.*)?$",
    "",
    "^@convex/_generated(/.*)?$",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@app(/.*)?$",
    "",
    "^@pages(/.*)?$",
    "",
    "^@widgets(/.*)?$",
    "",
    "^@features(/.*)?$",
    "",
    "^@entities(/.*)?$",
    "",
    "^@shared(/.*)?$",
    "",
    "^[./](?!.*\\.(css|scss|sass|less)$).*$",
    "",
    "^[./].*\\.(css|scss|sass|less)$"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "astro"],
  "overrides": [{ "files": "*.astro", "options": { "parser": "astro" } }],
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "printWidth": 130,
  "semi": false,
  "tailwindPreserveWhitespace": true,
  "tailwindStylesheet": "./src/app/styles/global.css",
  "trailingComma": "none",
  "useTabs": false
}
